<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Edit Task</h1>
    
    <form action="/edit/{{ task.id }}" method="POST">
        <label for="id_name">Name:</label>
        <input type="text" name="name" id="id_name" value="{{ task.name }}"/>

        <label for="id_description">Description:</label>
        <input type="text" name="description" id="id_description" value = "{{ task.description }}" />

        <label for="id_urgent">Is Urgent:</label>
        <input type="checkbox" name="urgent" id="id_urgent" {% if task.urgent %} checked {%endif%} />

        <label for="id_done">Is Done:</label>
        <input type="checkbox" name="done" id="id_done" {% if task.done %} checked {%endif%} />

        <input type="submit" value="Save"/>
    </form>
    
</body>
</html>